@()
<!DOCTYPE html>
<html>
    <head>
        <title> Spin To Win </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/gameViewStyles.css")">
    </head>
    <body>
        @*Sound clip *@
        <audio id="backgroundMusic" loop autoplay>
            <source src="@routes.Assets.versioned("sounds/backgroundMusic.mp3")" type="audio/mp3" />
        </audio>

        <div id ="headerDiv">
            <img src="@routes.Assets.versioned("images/logo.png")" class = "logo">
            <img src="@routes.Assets.versioned("images/title.png")" class = "logo">
        </div>

        <div id = "midDiv">
            <div id = "reelArea">
                <div id = "reelsDiv">
                    <img src="@routes.Assets.versioned("images/redseven.png")" class = "symbolsImg" id = "img1">
                    <img src="@routes.Assets.versioned("images/cherry.png")" class = "symbolsImg" id = "img2">
                    <img src="@routes.Assets.versioned("images/lemon.png")" class = "symbolsImg" id = "img3">
                </div>
                <p id ="reelMessage">  </p>
            </div>

            <div id = "creditsDiv">
                <table id ="creditTable">
                    <tr>
                        <td class = "creditLabelsClass"> Betting Amount  </td>
                        <td id = "bettingVal" class="creditValuesClass"> 0</td>
                    </tr>
                    <tr>
                        <td class = "creditLabelsClass"> Credits Left    </td>
                        <td id = "creditVal" class="creditValuesClass"> 0 </td>
                    </tr>
                    <tr>
                        <td class = "creditLabelsClass"> Net Winning    </td>
                        <td id = "netWinning" class="creditValuesClass"> 0 </td>
                    </tr>
                    <tr>
                        <td colspan="2" id ="statTD">
                            <input type="text" placeholder="name"  id="nameTxt" maxlength="20">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id ="statTD">
                            <input type="button" value="Upload" class = "creditAreaBtns" id="uploadBtn">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" id ="statTD">
                            <input type="button" value="Scoreboard" class = "creditAreaBtns" id="scoreboardBtn">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id ="buttonsDiv">
            <input type="button" value="RESET" class = "controlBtns" id = "reset">
            <input type="button" value="BET $1" class = "controlBtns" id ="betOne">
            <input type="button" value="BET $3" class = "controlBtns" id = "betThree">
            <input type="button" value="SPIN" class = "controlBtns" id ="spin">
            <input type="button" value="COINS" class = "controlBtns" id ="addCoin">
        </div>


        <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
        <script>
                // Initialize Firebase
                var config = {
                    apiKey: "AIzaSyApBs4kZu0_sj-W0Rv882MVf_fT-c9ReVs",
                    authDomain: "slotmachine-578bb.firebaseapp.com",
                    databaseURL: "https://slotmachine-578bb.firebaseio.com",
                    projectId: "slotmachine-578bb",
                    storageBucket: "",
                    messagingSenderId: "604806588767"
                };
                firebase.initializeApp(config);
        </script>

        <script type="text/javascript" src='@routes.Assets.versioned("scripts/Stats.js")'></script>



        <script type="text/javascript" src='@routes.Assets.versioned("scripts/Values.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("scripts/Symbol.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("scripts/Reel.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("scripts/AudioClips.js")'></script>


        <script type="text/javascript" src='@routes.Assets.versioned("scripts/Main.js")'></script>

    </body>

</html>